@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Secular+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

/* ===========MODO OSCURO============ */
.dark {
  background-color: rgb(24, 23, 23);
  color: #fff;
}
.dark .carrito {
  background-color: #222;
}
.dark .carrito .carritoProducto {
  color: #000;
}
.dark .carrito .totalAPagar__final {
  color: #000;
}
.dark .separator .separator__line {
  border-top: 3px solid #fff;
}
.dark .featured {
  background-color: #222;
}
.dark .featured__product {
  background-color: #fff;
  color: #000;
}
.dark .products .products__category {
  background-color: #222;
}
.dark .products .genericProduct {
  background-color: #fff;
  color: #000;
}

header {
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  height: 95px;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
header .oferta {
  position: relative;
  background-color: #000;
}
header .oferta p {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0.2rem;
  font-size: 1rem;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 2rem;
  list-style-type: none;
  transition: all 0.5s;
}
header nav ul li:hover {
  text-decoration: underline;
  transform: scale(110%);
}
header nav ul li a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
header nav .shoppCart {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
header nav .shoppCart .count {
  background-color: #fff;
  color: #000;
  padding: 0 0.2rem;
  text-align: center;
  border-radius: 40px;
  margin-left: 0.2rem;
  font-weight: 800;
  box-shadow: 0 0 20px #333;
}
header nav .shoppCart img {
  width: 30px;
  filter: invert(100%);
}
header nav .shoppCart:hover {
  transform: scale(110%);
}
header .modeGUI {
  position: absolute;
  right: 0;
  margin: 1rem;
}
header .modeGUI img {
  cursor: pointer;
  width: 40px;
  transition: all 0.5s;
}
header .modeGUI img:hover {
  transform: scale(110%);
}

.footer {
  height: 200px;
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}
.footer .redes {
  font-size: 2rem;
}
.footer .redes ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
}
.footer .redes ul li {
  list-style-type: none;
}
.footer .redes ul li a {
  text-decoration: none;
}
.footer .redes img {
  width: 40px;
}

@media screen and (max-width: 567px) {
  header {
    position: relative;
  }
  header nav {
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  header nav ul {
    display: none;
  }
}
.carrito {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 999;
  width: 400px;
  padding: 15px;
  background-color: #ddd;
  border-radius: 40px;
  transition: all 0.7s;
}
.carrito .carritoProducto {
  overflow-y: scroll;
  max-height: 40vh;
}
.carrito .carritoProducto div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin: 10px 0;
  background-color: #f8f8f8;
  padding: 0 10px;
  border-radius: 10px;
}
.carrito #vaciarCarrito .carritoVacio {
  margin: 1rem 0;
}
.carrito .totalAPagar {
  padding: 1rem 0;
}
.carrito .totalAPagar p:first-child {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}
.carrito .totalAPagar p:first-child span {
  font-size: 1.2rem;
  color: red;
}
.carrito .totalAPagar .totalAPagar__final {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: #f8f8f8;
  margin: 0.5rem 0;
}
.carrito .totalAPagar .totalAPagar__final p {
  font-size: 2vw;
  padding: 0 1rem;
}

section.carrito--mover {
  right: -1000px;
}

.promo {
  width: 100%;
  text-align: center;
  margin-top: 105px;
}
.promo img {
  padding: 2rem 0;
  width: 75%;
}

.featured {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  gap: 1rem;
  padding: 2rem 2.5rem;
  margin: 0 4rem;
  border-radius: 40px;
  overflow: auto;
}
.featured__product {
  background-color: #ddd;
  border-radius: 2.5rem;
  overflow: hidden;
  min-width: 200px;
}
.featured__product img {
  width: 100%;
}
.featured__product div {
  margin: 1rem 0;
  padding-left: 1rem;
}
.featured__product div h3, .featured__product div p {
  margin: 0;
  font-size: 1.5rem;
}
.featured__product div h3 span, .featured__product div p span {
  text-decoration: line-through;
  color: rgb(173, 18, 18);
  font-size: 1.2rem;
  margin-left: 0.2rem;
}
.featured__product div .buttn--modified {
  margin: 1rem 0;
}

.products {
  margin: 4rem 0;
}
.products div h3 {
  text-align: center;
  font-size: 4rem;
  margin: 1.5rem 0;
}
.products div div .products__category {
  background-color: #f8f8f8;
  margin: 0 4rem;
  padding: 2rem 4rem;
  border-radius: 2.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.products div div .products__category .products__category__product {
  margin: 2rem 0;
  border-radius: 40px 0 40px 0;
}

@media screen and (max-width: 991px) {
  .products div div .products__category {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 567px) {
  .products div div .products__category {
    margin: 0;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .products div div .products__category .products__category__product {
    margin: 0.5rem 0;
  }
  section.promo {
    margin-top: 0;
  }
  section.promo img {
    padding: 3.5rem 0;
    width: 100vw;
  }
  .carrito {
    position: absolute;
    right: 0;
    width: 100vw;
  }
  .carrito .totalAPagar p:first-child {
    font-size: 5vw;
  }
  section.carrito--mover {
    right: 0;
    top: -1000px;
  }
}
.buttn {
  border-radius: 40px;
  border: none;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(100, 130, 200) 0%, rgb(75, 90, 150) 0%, rgb(64, 81, 99) 59%);
  padding: 1rem;
  font-family: "Secular One", sans-serif;
  font-size: 1vw;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.buttn:hover {
  transform: scale(110%);
}

.buttnCarrito {
  border-radius: 10px;
  padding: 0.7rem;
}

.buttnAlertAffirmative {
  width: 50px;
  border-radius: 10px;
  padding: 0.7rem;
  margin-right: 0.5rem;
  border: 3px solid rgba(151, 199, 250, 0.431372549);
}

.buttnPagar {
  margin: 0.2rem;
  width: 90px;
  border-radius: 10px;
  background-image: none;
  background-color: #f00;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 1rem;
  padding: 0 2rem;
}
.separator .separator__line {
  flex: 1;
  height: 2px;
  max-width: 40rem;
  border-top: 3px solid black;
}
.separator div h3 {
  font-size: 2rem;
}

div.separator.separator--widthCien {
  width: 80%;
  text-align: center;
  margin: 2rem 10rem;
}
div.separator.separator--widthCien .separator__line {
  max-width: none;
}

.separator--end {
  margin-top: 1.5rem;
}

.genericProduct {
  background-color: #ddd;
  border-radius: 2.5rem;
  overflow: hidden;
}
.genericProduct img {
  width: 100%;
}
.genericProduct div {
  padding: 1.5rem 0;
  padding-left: 1rem;
}
.genericProduct div h3, .genericProduct div p {
  margin: 0;
  font-size: 2.2vw;
  text-align: start;
}
.genericProduct div h3 span, .genericProduct div p span {
  text-decoration: line-through;
  color: rgb(173, 18, 18);
  font-size: 1.8vw;
  margin-left: 0.2rem;
}
.genericProduct div .cantDisponible {
  color: #aaa;
  font-size: 1vw;
  margin-bottom: 1rem;
}

.header__logo {
  font-family: "Inspiration", cursive;
  font-size: 50px;
  color: #F4F4F4;
  line-height: 1.2;
  text-shadow: 2px 2px 2px #000;
}
.header__logo a {
  color: #fff;
  text-decoration: none;
}
.header__logo a:visited {
  color: #fff;
}
.header__logo a:link {
  color: #fff;
}

/* Fondo background */
.box {
  background-image: linear-gradient(rgba(5, 7, 12, 0.87), rgba(5, 7, 12, 0.87)), url(../img/Logo2.png);
  background-repeat: repeat;
  background-size: 900px;
}

@media screen and (max-width: 991px) {
  .genericProduct div h3, .genericProduct div p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 567px) {
  .buttn {
    font-size: 3vw;
  }
  .buttnCarrito {
    font-size: 5vw;
  }
  .genericProduct div h3, .genericProduct div p {
    font-size: 5vw;
  }
  .genericProduct div h3 span, .genericProduct div p span {
    font-size: 4vw;
  }
  .genericProduct div .cantDisponible {
    font-size: 3vw;
  }
  div.separator.separator--widthCien {
    margin: 2rem 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.usuarioIngresado {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.contenedorPrincipal {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 4rem;
  padding: 4rem 0;
  /*text-align: center;*/
}
.contenedorPrincipal .contenedorCarrito {
  text-align: center;
  padding: 1rem 0;
}
.contenedorPrincipal .contenedorCarrito .contenedorCarritoProductos {
  text-align: start;
  margin: 1rem 0;
}
.contenedorPrincipal .contenedorCarrito .contenedorCarritoProductos div {
  width: 50vw;
  margin: 0.5rem 0;
  padding: 1.5rem;
  background-color: #ddd;
  border-radius: 10px;
}
.contenedorPrincipal .totalStyle--modified {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
.contenedorPrincipal .totalStyle--modified h2 {
  font-size: 2rem;
}
.contenedorPrincipal .totalStyle {
  justify-content: center;
  padding: 1.5rem;
}
.contenedorPrincipal .totalStyle h4 {
  margin: 0.5rem 0;
}
.contenedorPrincipal .totalStyle h2 {
  font-size: 2rem;
}
.contenedorPrincipal .contenedorInicioSesion {
  width: 60%;
}
.contenedorPrincipal .contenedorInicioSesion form {
  margin: auto;
  width: 85%;
}
.contenedorPrincipal .contenedorInicioSesion form .formFirstAndLastName {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.contenedorPrincipal .contenedorInicioSesion form .formFirstAndLastName div {
  flex-grow: 1;
}
.contenedorPrincipal .contenedorInicioSesion form .formPhone {
  display: flex;
  gap: 0.2rem;
}
.contenedorPrincipal .contenedorInicioSesion form input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.contenedorPrincipal .contenedorInicioSesion form input[type=submit] {
  margin-bottom: 0;
}
.contenedorPrincipal .contenedorInicioSesion form input:hover {
  border: 2px solid #405163;
}
.contenedorPrincipal .contenedorInicioSesion form input:focus {
  background-color: rgba(119, 119, 119, 0.2);
  outline: 2px solid #405163;
}
.contenedorPrincipal .contenedorInicioSesion form label {
  display: inline-block;
  margin: 0.5rem;
}

@media screen and (max-width: 567px) {
  .contenedorPrincipal {
    margin: 4rem 0;
  }
  .contenedorPrincipal .contenedorCarrito .contenedorCarritoProductos div {
    width: 80vw;
  }
  .contenedorPrincipal .totalStyle div h4 {
    font-size: 5vw;
  }
  .contenedorPrincipal .totalStyle div h2 {
    font-size: 10vw;
  }
  .contenedorPrincipal .totalStyle--modified {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .contenedorPrincipal .contenedorInicioSesion {
    width: 100%;
  }
}
.contenedorPrincipal__titulo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.contenedorPrincipal__titulo img {
  width: 70px;
}
.contenedorPrincipal .agradecimientos {
  width: 100%;
  text-align: center;
}
.contenedorPrincipal .agradecimientos div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.contenedorPrincipal .agradecimientos div h1 {
  width: 40%;
}
.contenedorPrincipal .agradecimientos div h2 {
  font-size: 2rem;
}
.contenedorPrincipal .agradecimientos p {
  font-size: 2rem;
}
.contenedorPrincipal .envioStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.contenedorPrincipal .envioStyle h4 {
  margin: 2rem 0;
}
.contenedorPrincipal .envioStyle img {
  width: 50px;
  object-fit: contain;
}

@media screen and (max-width: 567px) {
  .contenedorPrincipal__titulo {
    flex-direction: column-reverse;
    text-align: center;
  }
  .contenedorPrincipal .agradecimientos div {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .contenedorPrincipal .agradecimientos div h1 {
    width: 90%;
  }
  .contenedorPrincipal .envioStyle {
    flex-direction: column;
    gap: 0;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
