.carrito{
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999;
    width: 400px;
    padding: 15px;
    background-color: #ddd;
    overflow:hidden;
    border-radius: 40px;
    .carritoProducto{
        overflow-y: scroll;
        max-height: 40vh;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2px;
            margin-bottom:10px;
            background-color: #f8f8f8;
            padding: 0 10px;
            border-radius: 10px;
        }
    }
    .totalAPagar{
        padding: 1rem 0;
        p{
            font-size: 2rem;
            &:first-child{
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
                span{
                    font-size: 1.2rem;
                    color: red;
                }
            }
        }
        &__final{
            background-color: #f8f8f8;
            border-radius: 20px;
            padding: 0 1rem;
        }
    }
}

section.carrito--mover{
    right: -1000px;
}



.promo{
    width: 100%;
    text-align: center;
    margin-top: 105px;
    img{
        padding: 2rem 0;
        width: 75%;
        // height: 500px;
        // object-fit: cover;
    }
}


.featured{
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    gap: 1rem;
    padding: 2rem 2.5rem;
    margin: 0 4rem;
    border-radius: 40px;
    &__product{
        background-color: #ddd;
        border-radius: 2.5rem;
        overflow: hidden;
        // box-shadow: 0 0 30px #000;   //Por decidir
        img{
            width: 100%;

        }
        div{
            // padding-bottom: 1.5rem;
            margin: 1rem 0;
            padding-left: 1rem;
            h3,p{
                margin: 0;
                //margin-bottom: 0.5rem;
                font-size: 1.5rem;
                span{
                    text-decoration: line-through;
                    color: rgb(173, 18, 18);
                    font-size: 1.2rem;
                    margin-left: 0.2rem;
                }
            }
            .buttn--modified{

                margin: 1rem 0;

            }
            
        }
    }
}

.products{
    margin-top: 4rem;
    div{
        h3{
            text-align: center;
            font-size: 4rem;
        }
        div{
            .products__category{
                background-color: #f8f8f8;
                margin: 0 4rem;
                padding: 0 4rem;
                border-radius: 2.5rem;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(4,1fr);
                gap: 1rem;
                .products__category__product{
                    margin: 2rem 0;
                    border-radius: 40px 0 40px 0;
                    // overflow: hidden;
                    
                    // background-color: #ddd;
                    // div{
                    //     // padding: 1.5rem 0;
                    //     // padding-left: 1rem;
                    //     h3{
                    //         // font-size: 1rem;
                    //         // text-align: start;
                    //     }
                    // }
                    
                    
                    // img{
                    //     width: 100%;
                    // }
                   
                }
        
            }
        }
        
    }
     
}