.buttn{
    border-radius: 40px;
    border: none;
    color: #fff;
    background-image: $efect-bg;
    padding: 1rem;
    font-family: $fuente-principal;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
        transform: scale(110%);
    }
    
}

.buttnCarrito{
    border-radius: 10px;
    padding: 0.7rem;
    
}

.buttnAlertAffirmative{
    width: 50px;
    border-radius: 10px;
    padding: 0.7rem;
    margin-right: 0.5rem;
    border: 3px solid #97c7fa6e;
    
}

.buttnPagar{
    margin: 0.2rem;
    width: 90px;
    border-radius: 10px;
    background-image: none;
    background-color: #f00;
}


.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1rem;
    padding: 0 2rem;
    .separator__line{
        flex: 1;
        height: 2px;
        max-width: 40rem;
        border-top: 3px solid black;
    }

    div{
        h3{
            font-size: 2rem;
        }
    }
}

div.separator.separator--widthCien{
    width: 80%;
    text-align: center;
    margin: 2rem 10rem;
    .separator__line{
        max-width: none;
    }
}

.separator--end{
    margin-top: 3rem;
}

.genericProduct{
    background-color: #ddd;
    border-radius: 2.5rem;
    overflow: hidden;
    // box-shadow: 0 0 30px #000;   //Por decidir
    img{
        width: 100%;

    }
    div{
        padding: 1.5rem 0;
        padding-left: 1rem;
        h3,p{
            margin: 0;
            font-size: 2.2vw;
            text-align: start;
            span{
                text-decoration: line-through;
                color: rgb(173, 18, 18);
                font-size: 1.8vw;
                margin-left: 0.2rem;
            }
        }
        .cantDisponible{
            color: #aaa;
            font-size: 1vw;
            margin-bottom: 1rem;
        }
        
    }
}

.header__logo{
    font-family: $fuente-logo;
    font-size: 50px;
    color: $color-secundario;
    line-height: 1.2;
    text-shadow: 2px 2px 2px #000; 
    a{
        color: #fff;
        text-decoration: none;
        &:visited{
            color: #fff;
        }
        &:link{
            color: #fff;
        }
    }
}

/* Fondo background */
.box {
    background-image: linear-gradient(rgba(5, 7, 12, 0.87), rgba(5, 7, 12, 0.87)), url(../img/Logo2.png);
    background-repeat: repeat;
    background-size: 900px;
  }


@media screen and (max-width: 991px) {
    .genericProduct{
        div{
            h3,p{
                font-size: 2.5vw;
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .buttn{
        font-size: 3vw;
    }
    .buttnCarrito{
        font-size: 5vw;
    }
    .genericProduct{
        div{
            h3,p{
                font-size: 5vw;
            }
            .cantDisponible{
                font-size: 3vw;
            }
        }
    }

    div.separator.separator--widthCien{
        margin: 2rem 0;
        
    }
}