body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-principal
}

header{
    background-image: $efect-bg;
    height: 105px;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    .oferta{
        position: relative;
        background-color: #000;
        p{
            font-family: sans-serif;
            text-align: center;
            margin: 0;
            padding: 0.2rem;
            font-size: 1rem;
            
        }
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header__logo{
            font-family: $fuente-logo;
            font-size: 50px;
            color: $color-secundario;
            line-height: 1.2;
            text-shadow: 2px 2px 2px #000; 
            a{
                color: #fff;
                text-decoration: none;
                &:visited{
                    color: #fff;
                }
                &:link{
                    color: #000;
                }
            }
        }
        ul{
            display: flex;
            
            li{
                margin-right: 2rem;
                list-style-type: none;
                transition: all 0.5s;
                &:hover{
                    text-decoration: underline;
                    transform: scale(110%);
                }
                a{
                    font-size: 1.4rem;
                    color: #fff;
                    text-decoration: none;
                }

            }
        }
        .shoppCart{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;
            .count{
                background-color: #fff;
                color: #000;
                padding: 0 0.2rem;
                text-align: center;
                border-radius: 40px;
                margin-left: -10px;
                font-weight: 800;
                box-shadow: 0 0 20px #333;
            }
            img{
                width: 30px;
                filter: invert(100%);
            }
            &:hover{
                transform: scale(110%);
            }
        }
        
    }
}

.footer{
    height: 200px;
    background-image: $efect-bg;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
    .redes{
        font-size: 2rem;
        ul{
            display: flex;
            justify-content: center;
            gap: 1.2rem;
            padding: 0;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                }
            }
        }
        img{
            width: 40px;
        }
    }
}