body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-principal
}

header{
    background-image: $efect-bg;
    height: 70px;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header__logo{
            font-family: $fuente-logo;
            font-size: 50px;
            color: $color-secundario;
            line-height: 1.2;
            text-shadow: 2px 2px 2px #000; 
        }
        ul{
            display: flex;
            
            li{
                margin-right: 2rem;
                list-style-type: none;
                a{
                    font-size: 1.4rem;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .shoppCart{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;
            img{
                width: 30px;
                filter: invert(100%);
            }
        }
        
    }
}

.footer{
    height: 200px;
    background-image: $efect-bg;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
    .redes{
        font-size: 2rem;
        ul{
            display: flex;
            justify-content: center;
            gap: 1.2rem;
            padding: 0;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                }
            }
        }
        img{
            width: 40px;
        }
    }
}