body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

header{
    background-image: $efect-bg;
    height: 70px;
    color: #fff;
    width: 100%;
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header__logo{
            font-family: $fuente-logo;
            font-size: 50px;
            color: $color-secundario;
            line-height: 1.2;
            text-shadow: 2px 2px 2px #000; 
        }
        ul{
            display: flex;
            
            li{
                margin-right: 2rem;
                list-style-type: none;
                a{
                   color: #fff;
                   text-decoration: none;
                }
            }
        }
        
    }
}