.contenedorPrincipal{
    // padding: 4rem;
    &__titulo{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        img{
            width: 70px;
        }
    }
    .agradecimientos{
        width: 100%;
        text-align: center;
        div{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            h1{
                width: 40%;
            }
            h2{
                font-size: 2rem;
            }
        }
        p{
            font-size: 2rem;
        }
        
    }
    .envioStyle{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        h4{
            margin: 2rem 0 ;
        }
        img{
            width: 50px;
            object-fit: contain;
        }
    }
}


@media screen and (max-width: 567px) {
    .contenedorPrincipal{
        &__titulo{
            flex-direction: column-reverse;
            text-align: center;
        }
        .agradecimientos{
            div{
                flex-direction: column-reverse;
                gap: 4rem;
                h1{
                    width: 90%;
                }
            }
        }
        .envioStyle{
            flex-direction: column;
            gap: 0;
            margin-bottom: 2rem;
        }
    }
}